<div class="flex flex-col justify-center bg-fixed bg-center lg:h-160 h-120 w-full" style="background-image: url(/assets/flower-hands.jpg)">
  <h1 class="text-4xl text-white text-center font-bold">HandsOfLyfe</h1>
  <h2 class="text-3xl text-white text-center font-bold">Massage and Therapy</h2>
</div>

<div class="py-10 px-4 lg:px-0 m-auto lg:max-w-3xl flex flex-wrap items-center justify-between">

  <div class="md:w-1/2 lg:w-1/3 h-full">
    <img src="/assets/hotstone.jpg" alt="Hot Stones">
  </div>
  <div class="md:w-1/2 lg:w-1/3 h-full">
    <img src="/assets/swedish.jpeg" alt="Swedish">
  </div>
  <div class="md:w-1/2 lg:w-1/3 h-full">
    <img src="/assets/deeptissue.jpeg" alt="Deep Tissue">
  </div>
  <div class="md:w-1/2 lg:w-1/3">
    <img src="/assets/chairmass.jpeg" alt="Chair">
  </div>
  <div class="md:w-1/2 lg:w-1/3">
    <img src="/assets/cupping.jpeg" alt="Cupping">
  </div>
  <div class="md:w-1/2 lg:w-1/3">
    <img src="/assets/relax.jpeg" alt="Relax">
  </div>
</div>