#notice {
  color: green;
}

.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table;
}

#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px 7px 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;

  h2 {
    text-align: left;
    font-weight: bold;
    padding: 5px 5px 5px 15px;
    font-size: 12px;
    margin: -7px -7px 0;
    background-color: #c00;
    color: #fff;
  }

  ul li {
    font-size: 12px;
    list-style: square;
  }
}

label {
  display: block;
}



// calendar css

.simple-calendar {
  text-align: center;

  table {
    -webkit-border-horizontal-spacing: 0px;
    -webkit-border-vertical-spacing: 0px;
    background: white;
    border: 1px solid rgb(221, 221, 221);
    border-collapse: collapse;
    box-sizing: border-box;
    max-width: 100%;
    width: 100%;
  }

  tr {
    border-collapse: collapse;
  }

  th {
    padding: 10px;
    border: 1px solid black;
    border-collapse: collapse;
    box-sizing: border-box;
    text-align: center;
  }

  td {
    padding: 6px;
    vertical-align: top;
    width: 14%;
    border: 1px solid black;
    border-top-color: rgb(221, 221, 221);
  }


  .day {
    font-size: 13px;
    height: 100px;
  }

  .today {
    background: #FED7EE;
  }
  .past {}
  .future {}

  .start-date {}

  .prev-month {
    background:#eee;
  }
  .next-month {
    background:#eee;
  }
  .current-month {}

  .has-events {}
}
