<div class="container m-auto my-4">
  <% unless current_user.app_schedules.any? %>
    <%= render "app_schedules_cta" unless admin? %>
  <% else %>
    <%= render "app_schedules_landing", app_schedules: @app_schedules %>
  <% end %>

  <% if current_user.admin? %>
    <%= render "app_schedules_landing", app_schedules: @app_schedules %>
  <% end %>
</div>
