<div class="container max-w-xl mx-auto flex flex-col items-center justify-center px-2 my-12">
  <div class="bg-white px-6 py-8 border rounded-lg shadow-md text-black w-full">
    <h1 class="mb-8 text-3xl text-center"><strong>Schedule Your Appointment Now! </strong> </h1>

<%= render 'form', app_schedule: @app_schedule %>

<%= link_to 'Back', app_schedules_path, class:"cursor-pointer font-semibold border border-purple-700 hover:border-purple-900 mr-3 px-5 py-2 inline-block text-purple-700 hover:text-purple-900 rounded" %>