<div class="bg-grey-lighter min-h-screen flex flex-col">
  <div class="container max-w-sm mx-auto flex-1 flex flex-col items-center justify-center px-2">
    <div class="bg-white px-6 py-8 rounded shadow-md text-black w-full">
      <h1 class="mb-8 text-3xl text-center"><strong>Schedule Your Appointment Now! </strong> </h1>

<%= render 'form', app_schedule: @app_schedule %>

<%= link_to 'Back', app_schedules_path %>
